:root {
    @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
    --primary-color: #001247;
    --secondary-color: #B3B3B3;
    --accent1-color: #FFFFFF;
    --accent2-color: #BFBFBF;
    --accent3-color: #190614;
    --default-color: #139641;

    --bronze-membership-color: #070218;
    --silver-membership-color: #62084a;
    --gold-membership-color: #0e7752;
    --bg-color: #571526;
    --np-membership-color: #125189;

    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Merriweather", serif;

    --font-size-small: 15px;
    --font-size-larger: 25px;

    --headline-color-on-white: var(--primary-color); 
    --headline-color-on-color: var(--text-color-secondary);
    --paragraph-color-on-white: var(--text-color-main); 
    --paragraph-color-on-color: var(--text-color-main); 
    --paragraph-background-color: var(--accent1-color); 
    --nav-link-color: var(--text-color-secondary);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--text-color-main);
    --nav-hover-background-color: var(--secondary-color);

    --success-text: #3c763d;
    --success-background: #dff0d8;
    --success-border: #d6e9c6;

    --error-text: #a94442;
    --error-background: #f2dede;
    --error-border: #ebccd1;

    --membershipNP: seaGreen;
    --membershipBronze: #cd7f32;
    --membershipSilver: #c0c0c0;
    --membershipGold: #ffd700;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#nav-title {
    margin-right: auto;
    font-size: 0.8em;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-box {
    width: 15rem;
    padding: 15rem;
}

html {
    font-size: 50%;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 1.8rem;
    font-weight: 400;
    color: #282828;
    line-height: 1.5;
}

:where(.header-box, .header-intro) {
    display: grid;
}

.homepage-body header {
    padding-block-end: 2rem;
    background: url(../images/banner-hme.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero hero-home main {
    background: url(../images/banner-hme.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-block-end: 2rem;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-decoration: underline #001247;
}

h2 {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

nav {
    display: none;
}

nav ul {
    list-style: none;
}

:where(.nav-links, .social-links, .socials-box, .cta-box, [role="switch"]) {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 3rem;
    width: 3rem;
}


.logo-box {
    width: 15rem;
    padding: 1rem;
    margin-top: -2em;
}

.logo-box img {
    width: 100%;
    height: auto;
}

.nav-links {
    color: #444;
    padding: 0.4em;
    text-decoration: none;
    padding-block: 1em;
}

.active,
.nav-links:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    fill: var(--secondary-color);
}

.nav-links svg {
    height: 2rem;
    width: 2rem;
    margin-inline-end: 0.25em;
}

.menu-btn {
    border: none;
    background-color: var(--primary-color);
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;

    display: grid;
    place-content: center;
    min-width: 4ch;
    min-height: 4rem;
}

.menu-btn svg {
    fill: var(--secondary-color);
}

.show-nav {
    display: block;
}

.header-box {
    width: 70%;
    margin: 4em auto;
    grid-row: 2 / 3;
    grid-column: 1 / span 3;
    justify-content: center;
    gap: var(--default-gap);
}

.header-intro {
    padding-inline: 2em;
    padding-block: 1em;
    box-shadow: var(--box-shadow-all-4sides);

    justify-content: center;
    gap: var(--default-gap);
    text-align: center;
}

.header-intro p {
    color: var(--accent1-color);
}

.motto-text {
    position: relative;
    color: #0e0d0d;
    text-transform: uppercase;
    font-weight: 900;
}

.motto-text::before,
.motto-text::after {
    content: "\201C";
    color: #9c9c9cb0;
    position: absolute;
    font-size: 12rem;
    z-index: -1;
}

.motto-text::before {
    top: -3rem;
    left: -2rem;
}

.motto-text::after {
    top: -3rem;
    right: -2rem;
}

.socials-box {
    width: 30rem;
    padding-block: 0.5em;
    justify-content: space-evenly;
    justify-self: center;
    box-shadow: var(--box-shadow-effect);
    margin-top: 2em;
}

.social-links:hover {
    fill: var(--default-color);
}

:where(nav, .header-intro, .socials-box) {
    background-color: #001247;
    backdrop-filter: blue;
}

.cta-box {
    gap: var(--default-gap);
    justify-self: center;
}

.btn-join,
.btn-explore {
    display: grid;
    place-content: center;
    text-decoration: none;
    box-shadow: var(--box-shadow-effect);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.25em 0.75em;
    min-width: 5ch;
    min-height: 4rem;
    transition: transform 0.2s;
}

.btn-join {
    color: #444;
    background-color: var(--secondary-color);
}

.btn-explore {
    color: #fff;
    background-color: var(--primary-color);
}

.header-intro,
.socials-box,
.weather-box,
.events-box,
.spotlight {
    border-radius: 0.5rem;
}

.spotlight {
    padding-block: 1rem;
}

.member-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.member-card img {
    max-width: 50px;
    height: auto;
}

.member-info-box {
    flex-grow: 1;
}

footer {
    padding-block: 5em;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
}

.footer-captions {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: 600;
}

footer ul {
    list-style: none;
}

footer svg {
    fill: #444444d1;
}

.contact-box,
.quick-link-box,
.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

address a,
.quick-link-box a {
    color: #444444d1;
}

address,
.quick-link-box ul {
    display: grid;
    row-gap: 1rem;
}

.quick-link-box a {
    text-decoration: none;
}

address a:hover,
.quick-link-box a:hover {
    color: var(--primary-color);
    text-decoration: 5px underline var(--secondary-color);
}

.footer-socials ul {
    display: flex;
    gap: 1rem;
}

.intro-section {
    text-align: center;
    padding-inline: 1em;
}

.views-button-section {
    margin-block: 1em;
    background-color: var(--primary-color);
    padding-block: 1em;
    padding-inline: 1em;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.views-button-section button {
    padding-block: 0.5em;
    padding-inline: 1em;
    border: none;
    border-radius: 5px;
    background: transparent;
    box-shadow: var(--box-shadow-all-4sides);
}

.views-button-section button:active {
    border-color: var(--accent3-color);
    outline: auto;
    outline-offset: 0.2em;
}

.views-button-section #grid-view {
    background-color: var(--accent1-color)
}

.views-button-section #list-view {
    background-color: var(--accent1-color);
    color: var(--primary-color)
}

.member-card-section {
    background-color: #eef0f4;
    background-image: url;

    margin-block: 1em;
    padding-block: 1.5em;
    padding-inline: 1em;
}

.member-card {
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 1em;
    padding-inline: 1em;
    text-align: center;
    border-radius: 1rem;
    box-shadow: var(--accent3-color);
    margin: 0 auto;
}

.member-card figure div {
    width: 60%;
}

.member-card figure img {
    width: 100%;
    height: auto;
}

.member-card figure div,
.member-card .member-info-box img {
    margin: 0 auto;
}

.member-card figure figcaption {
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 600;
}

.member-card .member-info-box {
    display: grid;
    gap: 1rem;
}

.member-card .member-info-box a {
    color: var(--optional-color);
}

.member-card .member-info-box a:active,
.member-card .member-info-box a:visited {
    color: var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax300px 1fr)
    gap: 2.5rem;
}

.list {
    padding: 0;
}

.list .member-card:nth-child(even) {
    background-color: var(--tertiary-color);
}

.list .member-card {
    text-align: left;
    border-radius: 0;
    box-shadow: none;
}

.list .member-card figure div {
    display: none;
}

.list .member-card .member-info-box img {
    margin: 0;
}

@media only screen and (min-width: 37.5em) {
    .logo-box {
        width: 15rem;
    }

    .news-event-section-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 5rem;
        width: 85vw;
    }

    .figure-box {
        height: 100%;
        width: 100%;
    }

    .news-box {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content repeat(2, 1fr);
        place-items: center;
        gap: var(--default-gap);
        padding-block-end: 3em;
    }

    .news-box h2 {
        color: var(--primary-color)
    }

    .weather-box { 
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: center;
    }

    .partners {
        overflow: hidden;
        white-space: nowrap;
        padding-block: 2em;
    }

    .partners :last-child {
        display: inline-block;
    }

    .partners:hover .partner-slide {
        animation-play-state: paused;
    }

    .partner-slide {
        display: inline-block;
        animation: 25s slide infinite linear;
    }

    .partner-slide img {
        object-fit: scale-down;
        height: 5vh;
        margin-inline: 4rem;
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .services-section {
        display: grid;
        place-items: center;
        row-gap: 10rem;
        padding-block: 5em 10em;
    }

    .service-card-box {
        width: 85%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--default-gap);
    }

    .card svg {
        width: 5rem;
        height: 5rem;
    }

    .member-card {
        height: 100%;
        width: 80%;
        margin: 0;
        justify-content: center;
    }

    .list .member-card {
        text-align: left;
        border-radius: 0;
        box-shadow: none;

        flex-direction: row;
        align-items: center;
        gap: 2em;
    }

    .list .member-card figure div {
        display: none;
    }

    .list .member-card .member-info-box {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}    
.motto-text {
    position: relative;
    color: var(--accent1-color);
    position: absolute;
    font-size: 900;
}



main {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px;
    padding: 0 25px 25px 25px;
}

.style5 {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.event-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 (--accent1-color);
    color: var(--primary-color);
}

.even-card container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-body h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-decoration: underline double;
}
  




.dark-mode {
    background-color: #1e293b;
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 50px;
    background-color: var(--nav-background-color);
    box-shadow: 0 1px 8px #ddheaderd;
} 



/* Dark Mode Button Switch ********************* */
.dark-mode-btn {
    display: flex;
    order: 4;
}
.toggle {
    background-color: #1e293b;
    width: 50px;
    height: 21px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.nav-info input {
    display: none;
}
.dark-mode-btn input {
    display: none;
}
.slider {
    height: 15px;
    width: 15px;
    background-color: var(--nav-link-color);
    border-radius: 12px;
    margin: 4px;
}
input:checked + .toggle {
    background-color: var(--nav-link-color);
    /* background-color: #1e293b; */
}
input:checked + .toggle > .slider {
    align-self: flex-end;
    background-color: #1e293b;
}
/* *** Main Section ***************************** */
main {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px;
    padding: 0 25px 25px 25px;
}

.hero {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}
.hero-home {
    background-image: url("../images/banner-hme.jpg");
}
.hero-join {
    background-image: url("../images/hero/litchfield-park.webp");
}
.hero-directory {
    background-image: url("../images/hero/buisness-park.webp");
}
.hero-discover {
    background-image: url("../images/hero/sunset.webp");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.hero-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.hero-content h2 {
    font-size: 3em;
    font-weight: 800;
    color: var(--accent1-color);
    margin: 20px;
}
.hero-content p {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--text-color-secondary);
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--accent1-color);
    text-decoration: none;
}

.btn:hover {
    background-color: #176520;
}
.spotlights {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    text-align: center;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    flex: 1;
    max-width: 100%;
}

.card {
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #cbd5e1;
    /* max-width: 30rem; */
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.card-header {
    margin: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.8rem;
    font-size: large;
    font-weight: 700;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1.2rem;
}
.card-body h3 {
    margin: 0 0 8px 0;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.75rem;
}
.contact-info div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card.dark-mode {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
    background-color: #4b5563;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    /* padding: 30px 0 30px 0; */
}


.weather {
    display: flex;
    flex-direction: column;
    justify-self: center;
    row-gap: 20px;
    order: 1;
}
.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.weather-icon img {
    width: 70px;
    height: auto;
}
.weather-info.dark-mode {
    background-color: #4b5563;
}


/* MObile CSS ******************************** */

/* Add this CSS for mobile styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: var(--nav-background-color);
        z-index: 1000;
    }
    .nav-links ul {
        display: block;
        text-align: center;
        padding: 0;
    }

    .nav-links ul li {
        display: block;
        padding: 10px 0;
    }

    .nav-links ul li a {
        display: block;
        color: var(--nav-link-color);
        padding: 10px 0;
    }

    .nav-toggle:checked + .nav-links {
        display: block;
    }

    .nav-btn {
        display: block;
        cursor: pointer;
    }

    .nav-btn span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: var(--nav-link-color);
        margin: 6px 0;
    }

    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "sidebar"
            "content";
    }
}

/* ********* Discover Page CSS *********** */
@media only screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "sidebar content content";
    }
    .picture figure {
        transition: 1s ease;
    }

    .picture figure:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
    }
}
.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.wrapper {
    display: grid;
    padding: 50px 0;
}
.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.picture img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.picture figcaption {
    font-size: 0.8em;
    font-style: italic;
    color: #444;
}

.latest-visit {
    text-align: center;
}

.style1 {
    background-color: var(--secondary-color);
    color: var(--text-color-main);
    padding: 20px;
}
.style2 {
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
    padding: 20px;
}
.style2 .play {
    display: flex;
    align-items: center;
    gap: 20px;
}
.style2 hr {
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
}
.text-bold {
    font-size: 1.1em;
    font-weight: 700;
}

.temperature-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.temperature-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temperature-box .deg {
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
}
.temperature-box .deg span {
    font-size: 0.45em;
    font-weight: 300;
}
.style3 {
    background-color: var(--accent1-color);
    color: var(--text-color-secondary);
    padding: 20px;
}
.style3 .explore-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.style4 {
    background-color: var(--accent3-color);
    color: var(--text-color-secondary);
    padding: 20px;
}
.style5 {
    background-color: #f8fafc;
    color: var(--text-color-main);
    padding: 20px;
}
.style5.dark-mode {
    background-color: #4b5563;
    color: var(--text-color-secondary);
}
.style6 {
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent3-color);
    padding: 20px;
}
.fast-facts {
    color: var(--accent3-color);
}
.facts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.facts h3 {
    font-size: 0.9em;
    font-weight: 700;
    color: var(--accent3-color);
    margin: 0;
    text-align: center;
}
.facts p {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.style6 hr {
    height: 4px;
    background-color: var(--accent3-color);
    border: none;
}
.event-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.event-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.event-card.dark-mode {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
    background-color: #1e293b;
}
.event-card h3 {
    margin: 0 0 5px 0;
}
.event-card div {
    font-size: 0.8em;
    margin: 0 0 5px 0;
}
.event-card p {
    font-size: 0.7em;
    margin: 0;
}

.biz-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.biz-images img {
    width: 100px;
    height: auto;
}

/*----------- FORM Page --------------*/

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 80px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "form"
        "membership";
    color: var(--text-color-main);
    margin: 50px 20px 0 20px;
}
.form-wrapper.dark-mode {
    background-color: #1e293b;
    color: var(--text-color-secondary);
}
.header {
    grid-area: header;
    place-self: center;
}
.column1 {
    grid-area: form;
}
.column2 {
    grid-area: membership;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
.membership-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}
.membership-cards h2 {
    text-align: center;
    margin: 0;
}

.membership-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.member-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #999;
    border-radius: 4px;
}
.member-card h3 {
    margin: 0 0 5px 0;
    padding: 1.2rem;
}
.member-card div {
    padding: 0.75rem;
}
.member-card p {
    margin: 0;
}
.member-card ul {
    margin-top: 0;
}
.np {
    background-color: var(--primary-color);
    color:lightblue;
}
.bronze {
    background-color: var(--primary-color);
    color: lightblue;
}
.silver {
    background-color: var(--primary-color);
    color: lightblue;
}
.gold {
    background-color: var(--primary-color);
    color: lightblue;
}

form fieldset {
    margin: 1rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem 2%;
}
form fieldset.dark-mode {
    border: 1px solid var(--text-color-secondary);
}
form fieldset:last-of-type {
    margin-bottom: 5px;
}
form legend {
    color: var(--primary-color);
    margin: 0 1rem;
    padding: 0 0.5rem;
}
form legend.dark-mode {
    color: var(--text-color-secondary);
}
form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--accent1-color);
    font-size: 0.8rem;
}
form label.top.dark-mode {
    color: var(--text-color-secondary);
}
form label.top input,
form label.top textarea,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color-main);
    width: 100%;
    max-width: 20rem;
}
form label.top input.dark-mode {
    background-color: #4b5563;
    color: var(--text-color-secondary);
}
form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: var(--text-color-main);
}
form label.sbs.dark-mode {
    color: var(--text-color-secondary);
}
form fieldset .dark-mode {
    border: none;
}
form .submitBtn {
    border: none;
    background-color: var(--accent3-color);
    color: var(--text-color-secondary);
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form .submitBtn:hover {
    background-color: var(--accent4-color);
    cursor: pointer;
}
form label.top input:required {
    border-left: var(--error-text) solid 6px;
}
form label.top input:required:valid {
    border-left: var(--success-text) solid 6px;
}
.success {
    margin-top: 5px;
    padding: 15px;
    background-color: var(--success-background);
    border-color: var(--success-border);
    color: var(--success-text);
}
.error {
    margin-top: 5px;
    padding: 15px;
    background-color: var(--error-background);
    border-color: var(--error-border);
    color: var(--error-text);
}
.show {
    display: flex;
}
.hide {
    display: none;
}

/* Weather Article ********************************* */

#weather {
    width: 100%;
}
#weather h3,
#five-day h3 {
    margin: 0;
    padding: 15px;
    background-color: orange;
    color: var(--text-color-main);
    text-transform: uppercase;
}

#weather p {
    margin: 10px 0 0 0;
    text-align: center;
}
#weather figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.temp-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
#current-temp {
    font-size: 3em;
    font-weight: 800;
}
.temp-area figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
#weather-description {
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}
.alt-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 5px;
}
.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 15px;
    /* border: 1px solid var(--accent3-color); */
    font-size: 0.8rem;
}
.weather-box span {
    font-weight: 800;
    font-size: 1.5rem;
}
#five-day {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#forecast .weather-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    /* margin: 20px 0; */
}
#forecast .weather-day:not(:last-child) {
    border-bottom: 1px solid black;
}
.weather-day h5 {
    /* font-size: 1.2rem; */
    font-weight: 800;
    text-transform: uppercase;
}
.weather-day figcaption {
    font-size: 0.7rem;
    text-transform: uppercase;
}
#forecast figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.temp-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp-div p {
    font-size: 0.8rem;
    margin: 0;
}
.temp-div p:nth-last-child(1) {
    font-size: 1.2rem;
    font-weight: 800;
}

/* Banner on home page */
.banner {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    padding: 30px;
    margin-top: 2rem;
    text-align: center;
}
.banner-hide {
    display: none;
}

.banner p {
    font-size: 1.4rem;
    margin: 0;
}

#closeBanner {
    background: none;
    color: var(--text-color-secondary);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: x-large;
    /* margin-top: 5px; */
}
