:root {
    --primary-color: #eeeff3;
    --secondary-color: #121216;
    --accent1-color: #f50606;
    --accent2-color: #8d8888;
    --accent3-color: #9e227f;

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;

    --font-size-small: 15px;
    --font-size-larger: 25px;
}


body {
    max-width: 840px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.profile {
    margin-left: auto;
    height: auto;
}

.center {
    align-items: center;
    display: flex;
    color: var(--secondary-color);
    font: bold;
    font-weight: 900;
    font-style: italic;
    font-family: var(--heading-font);
}

.nav {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 1rem;
    display: grid;
    font-weight: 900;
    text-decoration: none;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0px;
    column-gap: 5px;
    grid-template-columns: 2fr 2fr;
}

.navigation {
    background-color: var(--secondary-color);
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    justify-content: center;
    margin-bottom: 0px;
}

.navigation a {
    text-decoration: none;
    color: var(--primary-color)
}

.navigation a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: var(--primary-color);
    border: 1px solid;
}

.card h1 {
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.subsection1 {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2rem;
    display: grid;
}

.subsection1 {
    margin-top: 30px;
}

.courseButton {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 900;
}

.courseButton:hover {
    color: var(--accent1-color);
    transition: 0.9s;
}

.courseButton:hover:before {
    width: 100%;
}

.course {
    transition: all 0.3;
    position: relative;
}

.course::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 18, 51, 0.468);
    border-bottom-color: rgba(0, 18, 51, 0.468);
    transform: scale(0.1, 1);
}

.course:hover::before {
    transform: scale(1, 1);
    opacity: 1;
}

.course::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(12, 35, 78, 0.468);
}

.course:hover::after {
    transform: scale(0.1, 1);
    opacity: 1;
}

dialog {
    border: 1px solid var(--oxford-blue-3);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: var(--paragraph-background-color);
    box-shadow: 0 0 3rem var(--oxford-blue-3);
    width: 90%;
    max-width: 600px;
}

main {
    max-width: 840px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 10px auto;
    background-color: var(--primary-color);
    max-width: max-content;
}

main p {
    font-size: var(--font-size-small);
}

section {
    flex-basis: 15rem;
    flex-grow: 1;
}

.boxcertificate01 {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    grid-gap: 2rem;
}

h2 {
    color: var(--primary-color);
    padding: 1rem;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: var(--secondary-color);
    justify-content: center;
    font-weight: 900;
    font: bolder;
}

.boxButton {
    background-color: var(--secondary-color);
    display: block;
    grid-template-columns: repeat(6fr 1fr);
}

footer p {
    text-align: center;
    padding: 2px;
}

main section {
    border-radius: 5px;
    box-shadow: 6px 4px 8px;
    margin: 10px auto;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: center;
    justify-content: center;
}